/* start loading page */

#loading {
	background-color: #17607d;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 11111;
	margin-top: 0px;
	top: 0px;
}

#loading-center {
	width: 100%;
	height: 100%;
	position: relative;
	}

#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;
  transform: rotate(-135deg);
}

.object {
	border-radius: 50% 50% 50% 50%;
	position: absolute;
	border-top: 5px solid #FFF;
	border-bottom: 5px solid transparent;
	border-left:  5px solid #FFF;
	border-right: 5px solid transparent;
	animation: animate 2s infinite;	
}

#object_one {
	left: 75px;
	top: 75px;
	width: 50px;
	height: 50px;
}

#object_two {
	left: 65px;
	top: 65px;
	width: 70px;
	height: 70px;
  animation-delay: 0.2s;
}

#object_three {
	left: 55px;
	top: 55px;
	width: 90px;
	height: 90px;
  animation-delay: 0.4s;
}

#object_four {
	left: 45px;
	top: 45px;
	width: 110px;
	height: 110px;
  animation-delay: 0.6s;
}	

@keyframes animate {
	
  50% {
    -ms-transform: rotate(360deg) scale(0.8); 
    -webkit-transform: rotate(360deg) scale(0.8); 
    transform: rotate(360deg) scale(0.8); 
  }	

}

/* end loading page */

/* start Agencies Cars */

.agency {
    margin-top: 150px;
}

.agency h1 {
    margin-bottom: 60px;
    font-size: 30px;
    color: #155472;
}

@media (max-width: 575px) {
    .agency h1 {
        font-size: 25px;
    }
}

.agency h2, .opposed h2 {
    background-color: #155472;
    color: #FFF;
    margin-bottom: 10px;
    padding: 5px;
}

.Agencies-cars, .opposed-cars {
    display: flex;
    width: 100%;
    flex-flow: wrap;
}

.agency-photo, .opposed-photo {
    width: 48%;
    margin: 0 0 2% 2%;
}

.agency-photo img, .opposed-photo img {
    width: 100%;
}

.agency-photo div, .opposed-photo div {
    height: 80px;
    background-color: #FFF;
    margin-top: -4px;
}

.agency-photo div p:first-child, .opposed-photo div p:first-child {
    font-size: 20px;
    padding: 10px;
}

.agency-photo div p:last-child, .opposed-photo div p:first-child {
    padding-right: 10px;
}

/* end Agencies Cars */

/* Start Opposed Cars */

.opposed {
    margin-top: 20px;
}

/* End Opposed Cars */