/*General*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
	scroll-behavior:smooth;
}

body {
	font-size: 14px;
  line-height: 1.42857143;
  color: #333;
	font-family: 'Almarai', sans-serif;	
}

.container {
  width: 85%;
  margin: auto;
}

@media (max-width: 575px) {
    .container {
    width: 94%;
    margin: auto;
  }
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/* End General*/

/* start header */

.header {
	position: fixed;
  right: 0;
  left: 0;
  top: 0;
	z-index: 111;
	background-color: #155472;
	padding: 15px 0;
}	

.header .header-container {
	display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-container .header-logo h1 {
  font-size: 30px;
  font-family: 'Reem Kufi', sans-serif;
  color: #FFF;
}

.header-list ul a {
  display: inline-block;
  padding-left: 15px;
  color: #FFF;
}

@media (max-width: 575px) {
    .header-list ul a {
    padding-left: 10px;
  }
    .header-list ul a:last-child {
    padding-left: 0px;
  }
}
@media (max-width: 767px) {
  .header .header-container {
    flex-direction: column;
    gap: 20px;
  }
}

/* start footer */

.footer {
  margin-top: 50px;
  background-color: #222;
  color: #FFF;
}

.up-footer {
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.up-footer p {
  padding: 20px;
  font-size: 40px;
  color: #FFF;
}

.main ul li {
  display: inline-block;
  padding: 10px;
  color: #FFF;
  transition: color .5s ease-in-out;
}

.main ul li:hover {
  color: #155472;
}

.footer .under-footer {
  background-color: #000;
}

.footer .text {
  text-align: center;
  margin-bottom: 40px;
  font-size: 30px;
}

.under-footer .copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px;
}

.under-footer .copy + p {
  font-size: 20px;
}

.fonts i {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
  transition: color .5s ease-in-out;
}

.fonts i:hover {
  color: #155472;
}

@media (max-width: 575px) {
    .footer .text {
    font-size: 25px;
  }
}  

@media (max-width: 767px) {
  .up-footer {
    flex-direction: column;
  }

  .up-footer p {
    font-size: 35px;
  }

  .main ul li {
    font-size: 12px;
    padding: 10px 5px;
  }

  .under-footer .copy {
    flex-direction: column;
    gap: 20px;
  }

}

/* end footer */