/* start who are we */

.who {
    margin-top: 150px;
}

.who h1 {
    margin-bottom: 60px;
    font-size: 30pt;
    color: #155472;
}

.who h3 {
    margin-bottom: 10px;
}

.who p {
    margin-bottom: 5px;
}

/* start who are we */