/* start loading page */

#loading {
	background-color: #17607d;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 11111;
	margin-top: 0px;
	top: 0px;
}

#loading-center {
	width: 100%;
	height: 100%;
	position: relative;
	}

#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;
  transform: rotate(-135deg);
}

.object {
	border-radius: 50% 50% 50% 50%;
	position: absolute;
	border-top: 5px solid #FFF;
	border-bottom: 5px solid transparent;
	border-left:  5px solid #FFF;
	border-right: 5px solid transparent;
	animation: animate 2s infinite;	
}

#object_one {
	left: 75px;
	top: 75px;
	width: 50px;
	height: 50px;
}

#object_two {
	left: 65px;
	top: 65px;
	width: 70px;
	height: 70px;
  animation-delay: 0.2s;
}

#object_three {
	left: 55px;
	top: 55px;
	width: 90px;
	height: 90px;
  animation-delay: 0.4s;
}

#object_four {
	left: 45px;
	top: 45px;
	width: 110px;
	height: 110px;
  animation-delay: 0.6s;
}	

@keyframes animate {
	
  50% {
    -ms-transform: rotate(360deg) scale(0.8); 
    -webkit-transform: rotate(360deg) scale(0.8); 
    transform: rotate(360deg) scale(0.8); 
  }	

}

/* end loading page */

/* start call us */

.call {
    margin-top: 150px;
}

.call h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
    color: #155472;  
}

.call form {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.call input, .call #message {
    outline: 0;
    height: 40px;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 12pt;
}

.call #message {
    height: 60px;
}

.call input:focus, .call #message:focus {
    border-bottom-color: #155472;
}

.call label {
    display: flex;
    margin-bottom: 10px;
    font-size: 12pt;
}

.call button {
    outline: 0;
    border: none;
    width: 40%;
    border-radius: 6px;
    font-size: 35px;
    padding: 10px;
	margin: auto;
    background-color: #155472;
    color: #FFF;
    cursor: pointer;
	font-family: inherit;
}

/* end call us */