/*General*/

* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0 ;
}

html {
	scroll-behavior:smooth;
}

body {
	font-size: 14px;
  line-height: 1.42857143;
  color: #333;
	font-family: 'Almarai', sans-serif;	
}

a, a:hover {
  text-decoration: none;
  color: initial;
}

ul, ol, p, h1, * {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

/* End General*/

/* media query for large screen */

@media (min-width: 1920px) {
  .container {
    max-width: 1840px;
  }
}

/* media query for large screen */

@media (max-width: 575px) {
  .offers .offer-header,
  .brand .brand-header,
  .new-car .car-header {
    font-size: 25px !important;
  }
}

@media (max-width: 767px) {
  .offers .offer-header,
  .brand .brand-header,
  .new-car .car-header {
    text-align: center;
  }
}

/* start loading page */

#loading {
	background-color: #17607d;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 11111;
	margin-top: 0px;
	top: 0px;
}

#loading-center {
	width: 100%;
	height: 100%;
	position: relative;
	}

#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;
  transform: rotate(-135deg);
}

.object {
	border-radius: 50% 50% 50% 50%;
	position: absolute;
	border-top: 5px solid #FFF;
	border-bottom: 5px solid transparent;
	border-left:  5px solid #FFF;
	border-right: 5px solid transparent;
	animation: animate 2s infinite;	
}

#object_one {
	left: 75px;
	top: 75px;
	width: 50px;
	height: 50px;
}

#object_two {
	left: 65px;
	top: 65px;
	width: 70px;
	height: 70px;
  animation-delay: 0.2s;
}

#object_three {
	left: 55px;
	top: 55px;
	width: 90px;
	height: 90px;
  animation-delay: 0.4s;
}

#object_four {
	left: 45px;
	top: 45px;
	width: 110px;
	height: 110px;
  animation-delay: 0.6s;
}	

@keyframes animate {
	
  50% {
    -ms-transform: rotate(360deg) scale(0.8); 
    -webkit-transform: rotate(360deg) scale(0.8); 
    transform: rotate(360deg) scale(0.8); 
  }	

}

/* end loading page */

/* start header */

.header {
	position: fixed;
  right: 0;
  left: 0;
  top:0;
	z-index: 111;
	transition: background-color .5s ease;
	padding: 15px 0;
  background-color: #FFF;
}	

.header .header-container {
	display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-container .header-logo h1 {
  font-size: 30px;
  font-family: 'Reem Kufi', sans-serif;
  color: #000;
  font-weight: 600;
}

.header-list ul a {
  display: inline-block;
  padding-left: 15px;
  color: black;
}

@media (max-width: 575px) {
    .header-list ul a {
    padding-left: 10px;
  }
    .header-list ul a:last-child {
    padding-left: 0px;
  }
}
@media (max-width: 767px) {
  .header .header-container {
    flex-direction: column;
    gap: 20px;
  }
}

/* end header */

/* Slide Image */

.slider-image {position: relative;}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgb(56 56 56 / 30%);
  z-index: 2;
}	

.slider-image .slider {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slider-image .slider::-webkit-scrollbar {
  display: none;
}

.slider-image .slider .image {
  flex: 1 0 100%;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
} 

.slider-image .slider .image.img-1 {
  background-image: url(../img/Marceds.jpg);
}

.slider-image .slider .image.img-2 {
  background-image: url(../img/BMW.jpg);
}

.slider-image .slider .image.img-3 {
  background-image: url(../img/Range_Rover.jpeg);
}

.slider-image .arrow {
  position: absolute;
  top: 50%;
  bottom: 50%;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  background-color: #155472;
  opacity: 1;
  z-index: 3;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  color: #FFF;
  cursor: pointer;
  transition: background 0.3s ease;
}

.slider-image .arrow:hover {
  background-color: rgb(21 84 114 / 80%);
}

.slider-image #right {
  right: 1%;
}

.slider-image #left{
  left: 1%;
}

.slider-image .slider .image .text-image {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #FFF;
  z-index: 3;
}

.slider-image .slider .image .text-image .text {
  display: block;
  color: #FFF;
  font-size: 30px;
}

.slider-image .slider .image .text-image .bold600 {
  font-weight: 600;
  font-size: 35px;
}

.slider-image .slider .image .text-image .bold800 {
  font-weight: 800;
  font-size: 50px;
}

.slider-image .slider .image .text-image .bold300 {font-weight: 300;}

.slider-image .slider .image .text-image .discount {
  color: #155472;
  font-weight: 900;
  font-size: 60px;
}

.slider-image .slider .image .text-image .btn {
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  background: #155472;
  color: #FFF;
  padding: 10px;
  margin-top: 20px;
  line-height: inherit;
  cursor: pointer;
}

.slider-image .slider .image.img-1 .text-image a .btn i {
  margin-right: 15px;
  animation: rightLeft 0.5s ease infinite;
}

@keyframes rightLeft {
  0%,100% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(0px);
  }
}

.slider-image .slider .image.img-2 .text-image a .btn,
.slider-image .slider .image.img-3 .text-image a .btn {
  width: 170px;
}

@media (max-width: 575px) {
  .slider-image .slider .image .text-image .text {
    font-size: 14px;
  }

  .slider-image .slider .image .text-image .bold600 {
    font-size: 18px;
  }

  .slider-image .slider .image .text-image .bold800 {
    font-size: 25px;
  }

  .slider-image .slider .image .text-image .discount {
    font-size: 30px;
  }
}

@media (max-width: 375px) {
  .slider-image .slider .image .text-image .text {
    font-size: unset;
  }

  .slider-image .slider .image .text-image .bold600 {
    font-size: unset;
  }

  .slider-image .slider .image .text-image .bold800 {
    font-size: 20px;
  }
}

/* Slide Image */

/* start offers */

.offers {
  margin-top: 50px;
  display: block;
}

.offers .offer-header,
.brand .brand-header,
.new-car .car-header {
  margin-bottom: 50px;
  font-size: 45px;
  font-weight: bold;
  color: #155472;
}

.image-offer {
  display: flex;
  position: relative;
}

.image-offer .big-offer {
  width: 50%;
  position: relative;
}

.big-offer .Honda {
  position: absolute;
  top: 35px;
  right: 30px;
  font-size: 35px;
  color: initial;
}

.big-offer .Honda-offer {
  position: absolute;
  left: 0;
  font-size: 40px;
  background-color: #155472;
  color: #FFF;
  padding: 5px;
  font-weight: bold;
}

.big-offer img {
  width: 100%;
}

.image-offer .small-offer {
  width: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.small-offer .photo {
  width: 48%;
  border: 2px solid #155472;
  margin-bottom: 18px;
  position: relative;
  margin-left: 11px;
}

.photo img {width: 100%;}

.photo .photo-offer {
  position: absolute;
  left: 0;
  font-size: 25px;
  background: #155472;
  color: #FFF;
  font-weight: bolder;
  padding: 5px;
}

@media (max-width: 575px) {
    .big-offer .Honda {
    top: 10px;
    right: 5px;
    font-size: 20px;
  }
    .big-offer .Honda-offer {
    font-size: 20px;
  }
    .photo .photo-offer {
    font-size: unset;
  }
}

@media (max-width: 1199px) {

  .image-offer {
    flex-direction: column;
    width: 100%;
  }

  .image-offer .big-offer {
    width: 100%;
  }

  .image-offer .small-offer {
    width: 100%;
    margin-top: 15px;
    margin-right: 0;
    justify-content: space-between;
  }

  .small-offer .photo {
    margin-left: 0;
  }
}

/* end offers */

/* start brand */

.brand {
  position: relative;
  margin-top: 50px;
}

.main-brand {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.main-brand .photo-brand {
  border-left: 1px solid #e5e5e7;
  margin-bottom: 40px;
  position: relative;
}

@media (max-width: 395px) {
  .main-brand .photo-brand {
    border-left: none;
  }
}

.photo-brand img {
  width: 185px;
  padding: 20px;
  margin: 0 auto;
  display: block;
  filter: grayscale(100%);
  transition: .3s;
}

.photo-brand:hover img {
  filter: grayscale(0);
}  

.photo-brand .text-brand {
  position: absolute;
  right: 50%;
  transform: translate(50%, -50%);
  color: initial;
  font-size: 19px;
}

.photo-brand:hover .text-brand {
  color: #155472;
  font-weight: bold;
}

/* end brand */

/* start new-car */

.new-car {
  margin-top: 40px;
  background-color: #f2f2f2;
  position: relative;
  padding: 30px 0;
}

.new-car .content {
  display: flex;
  align-items: center;
  gap: 30px;
}

.new-car .content i {
  cursor: pointer;
  font-size: 25px;
  background: #155472;
  padding: 10px;
  border-radius: 25%;
  color: #FFF;
}

.new-car .content .main-car {
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.new-car .content .main-car::-webkit-scrollbar {
  display: none;
}

.new-car .main-car .slider-car .car {
  cursor: pointer;
  scroll-snap-align: start;
}

.new-car .main-car .slider-car {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 12px);
  align-items: center;
  gap: 16px;
}

@media (max-width: 1399px) {
  .new-car .main-car .slider-car {
    grid-auto-columns: calc((100% / 3) - 12px);
  }
}

@media (max-width: 1199px) {
  .new-car .main-car .slider-car {
    grid-auto-columns: calc((100% / 2) - 12px);
  }
}

@media (max-width: 767px) {
  .new-car .main-car .slider-car .car {
    scroll-snap-align: center;
  }
  .new-car .main-car .slider-car {
    grid-auto-columns: calc(100% - 12px);
  }
}

.new-car .main-car .slider-car .car .content-car {
  border-bottom: 1px solid #333;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.new-car .main-car .slider-car .car .content-car .text-car {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: initial;
  transition: color 0.3s ease;
}

.new-car .main-car .slider-car .car:hover .content-car .text-car {
  color: #155472;
}

.new-car .main-car .slider-car .car ul {
  padding: 20px 0;
}

.new-car .main-car .slider-car .car ul li {
  font-size: 18px;
}

.new-car .main-car .slider-car .car .price {
  background-color: #155472;
  color: #FFF;
  position: relative;
  height: 40px;
}

.new-car .main-car .slider-car .car .price .text-price {
  font-size: 10px;
  position: absolute;
  right: 4px;
}

.new-car .main-car .slider-car .car .price .money {
  font-weight: bold;
  position: absolute;
  right: 33px;
  top: 7px;
  font-size: 19px;
  text-decoration: line-through;
}

.new-car .main-car .slider-car .car .price .price-original {
  font-weight: bold;
  position: absolute;
  left: 0;
  color: white;
  background: black;
  height: 40px;
  width: 100px;
  font-size: 13px;
  text-align: center;
}

@media (max-width: 575px) {
    .new-car .main-car .slider-car .car .content-car .text-car {
    font-size: unset;
  }
  
  .new-car .main-car .slider-car .car ul li {
    font-size: unset;
  }

  .new-car .main-car .slider-car .car .price {
    height: 80px;
  }

  .new-car .main-car .slider-car .car .price .money {
    top: 8px;
    font-size: unset;
  }

  .new-car .main-car .slider-car .car .price .price-original {
    top: 40px;
    height: 40px;
    width: 100%;
    font-size: 12px;
    padding-top: 5px;
  }
}

/* end new-car */

/* start footer */

.footer {
  margin-top: 50px;
  background-color: #222;
  color: #FFF;
}

.up-footer {
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.up-footer p {
  padding: 20px;
  font-size: 40px;
  color: #FFF;
}

.main ul li {
  display: inline-block;
  padding: 10px;
  color: #FFF;
  transition: color .5s ease-in-out;
}

.main ul li:hover {
  color: #155472;
}

.footer .under-footer {
  background-color: #000;
}

.footer .text {
  text-align: center;
  margin-bottom: 40px;
  font-size: 30px;
}

.under-footer .copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px;
}

.under-footer .copy + p {
  font-size: 20px;
}

.fonts i {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
  transition: color .5s ease-in-out;
}

.fonts i:hover {
  color: #155472;
}

@media (max-width: 575px) {
    .footer .text {
    font-size: 25px;
  }
}  

@media (max-width: 767px) {
  .up-footer {
    flex-direction: column;
  }

  .up-footer p {
    font-size: 35px;
  }

  .main ul li {
    font-size: 12px;
    padding: 10px 5px;
  }

  .under-footer .copy {
    flex-direction: column;
    gap: 20px;
  }

}

/* end footer */